

.form-modern{
  padding-top: 0.8rem;
  color:$text-primary;
  label{
    font-size: 0.8rem;
    font-weight:500;
    opacity: 0;
    transition: all 1s;
    padding-left: 0.7rem;
  }
  &:focus-within{
    label{
      opacity: 0.8;
      color:$color_primary;
    }
  }
  input{
    border-radius: 0px;
    border-width: 0px 0px 2px 0px;
    &:focus{
      box-shadow:none;
      background-color:transparent;
      border-color:$color_primary;
    }
  }
}
