<div class="row">
  <div class="col-4 mx-auto">
    <div class="card">
      <div class="card-body">
        <form action="" class="px-5">
          <div class="text-center">
            <h3 class="text-center">Store</h3>
            <h5>Login</h5>
          </div>
          <div class="form-group form-modern">
            <label>Username</label>
            <input placeholder="username" name="username" class="form-control input-modern">
          </div>
          <div class="form-group form-modern">
            <label>Username</label>
            <input placeholder="username" name="username" class="form-control input-modern">
          </div>
          <button class="btn submit-button">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
